.h1 {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 18px;
  text-align: center;
}

.h2 {
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 25px;
  text-align: center;
}

.h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

.h5 {
  font-size: 18px;
  line-height: 100%;
}

.body {
  font-size: 20px;
  line-height: 100%;
}

.black {
  color: var(--black-color);
}

.white {
  color: var(--white-color);
}

.purple {
  color: var(--purple-color);
}