.custom-select {
  width: 100%;
  height: 38px;
  position: relative;
}

.select-native {
  width: 100%;
  height: 38px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 5px;
  background-color: var(--purple-color);
  font-size: 18px;
  line-height: 100%;
  font-family: 'Kanit', sans-serif;
  color: var(--white-color);
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  option {
    background-color: var(--white-color);
    color: var(--purple-color);
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    outline: none;

    &:hover {
      outline: none;
      background-color: rgba(108, 99, 255, 0.2);
    }

    &:focus {
      outline: none;
    }
  }

  &:hover {
    box-shadow: 0px 0px 4px #6c63ff;
  }

  &:focus {
    outline: none;
    border: 2px solid #534cc2;
  }
}

.select-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.2s ease;

  &.rotated {
    transform: translateY(-50%) rotate(180deg);
  }

  .iconArrow {
    height: 4px;
  }
}
