:host {
  flex: 1;
  align-self: flex-end;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--purple-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px #6c63ff;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #534cc2;
    border: 2px solid var(--purple-color);
    
  }
}
