.container {
  max-width: 790px;
  margin: 0 auto;
  padding: 40px 20px 32px;
}

.header {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}

.header-input {
  flex: 1;
}

.todos-container {
  max-width: 520px;
  margin: 0 auto;
}