.themeSwitch {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: var(--purple-color);

  &:hover {
    filter: drop-shadow(0px 0px 4px #6c63ff);
  }
}
