:root {
  --purple-color: #6C63FF;
  --white-color: #F7F7F7;
  --black-color: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  background-color: var(--white-color);
}
html, body { height: 100%; }

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
