.input-wrapper {
  padding: 11px 16px;
  padding-right: 53px;
  width: 100%;
  height: 38px;
  border: 1px solid var(--purple-color);
  border-radius: 5px;
  display: flex;
  align-items: center;

  position: relative;

  &:hover {
    outline: 2px solid rgba(108, 99, 255, 0.4);
  }
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: var(--purple-color);
  width: 100%;
  background-color: transparent;
}

.input::placeholder {
  color: #C3C1E5;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 21px;
  height: 21px;
}